@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thread {
  padding: 15px 10px;
  border-bottom: 1px solid gray;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.upvoteBtn::before {
  content: "\f062";
  font-family: "FontAwesome";
}

.downvoteBtn::before {
  content: "\f063"; 
  font-family: "FontAwesome";
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

button:hover::before {
  color: red;
}

.smallContent {
  font-size: 12px;
  color: gray;
}